{
  "app": {
    "name": "web-crawler",
    "host": "0.0.0.0",
    "port": 4000
  },
  "db": {
    "postgres": {
      "connection_string": "postgresql://postgres:changeme@postgres:5432/web_crawler_demo_db",
      "pool": {
        "max_conns": 25,
        "min_conns": 5
      }
    }
  },
  "scheduler": {
    "setups": [
      {
        "id": "hourly_gold_price",
        "url": "https://sahabat.pegadaian.co.id/harga-emas",
        "start_time": "11:00",
        "ticker_duration": "1h",
        "timezone": "+07",
        "retry": {
          "max_attempts": 5,
          "initial_delay": "2s",
          "max_delay": "30s",
          "backoff_factor": 2.0,
          "enable_jitter": true
        }
      }
    ]
  }
}
